{% extends "../layouts/master-layout-admin.twig" %}
{% set pageStatus = "admin" %}
{% block titlePage %}
	vncpncept - Quản lý đơn hàng
{% endblock %}
{% block content %}
	<div class="page__admin flex flex-wrap items-start">
		{% include "../components/admin/sidebarAdmin.component.twig" %}
		<div class="admin__main max-w-[calc(100%_-_256px)] w-full bg-white  flex flex-col h-screen">
			{% include "../components/admin/HeaderAdmin.component.twig" %}

			<div class="admin__main-body px-5 py-3">
				<div class="overflow-auto">
					<table class="table w-full text-sm text-left min-w-[900px]">
						<thead>
							<tr>

								<th class="w-[52px] border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									STT
								</th>
								<th class="w-[96px] border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Ảnh
								</th>
								<th class="w-[224px] border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Tên sản phẩm
								</th>
								<th class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Số lượng
								</th>
								<th class="w-[306px] border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Đơn giá
								</th>
								<th class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Tên người mua
								</th>
								<th class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Số điện thoại
								</th>
								<th class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Địa chỉ giao hàng
								</th>
								<th class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Ngày mua
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									1
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<div class="max-w-20 h-20">
										<img src="images/album__1.png" alt="album__1.png" class="w-full h-full object-cover">
									</div>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<h3 class="text-sm">
										Sofa đôi mã 1234
									</h3>
									<p class="text-[12px]">
										. Màu xám
										<br>
										. 1,1x2,2m
										<br>
										. Gỗ + Nỉ

									</p>

								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									1
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									45.000.000đ
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Nguyễn Văn Sơn
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									0123456789
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Số 12 ngõ 12 ngách 23 đường 23 phường 12 quận Hai Bà Trưng
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									12/12/2021
								</td>
							</tr>
							<tr>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									2
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<div class="w-20 h-20">
										<img src="images/album__1.png" alt="album__1.png" class="w-full h-full object-cover">
									</div>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<h3 class="text-sm">
										Sofa đôi mã 1234
									</h3>
									<p class="text-[12px]">
										. Màu xám
										<br>
										. 1,1x2,2m
										<br>
										. Gỗ + Nỉ

									</p>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									1
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									45.000.000đ
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Nguyễn Văn Sơn
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									0123456789
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Số 12 ngõ 12 ngách 23 đường 23 phường 12 quận Hai Bà Trưng
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									12/12/2021
								</td>
							</tr>
							<tr>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									3
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<div class="w-20 h-20">
										<img src="images/album__1.png" alt="album__1.png" class="w-full h-full object-cover">
									</div>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<h3 class="text-sm">
										Sofa đôi mã 1234
									</h3>
									<p class="text-[12px]">
										. Màu xám
										<br>
										. 1,1x2,2m
										<br>
										. Gỗ + Nỉ

									</p>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									1
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									45.000.000đ
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Nguyễn Văn Sơn
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									0123456789
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Số 12 ngõ 12 ngách 23 đường 23 phường 12 quận Hai Bà Trưng
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									12/12/2021
								</td>
							</tr>
							<tr>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									4
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<div class="w-20 h-20">
										<img src="images/album__1.png" alt="album__1.png" class="w-full h-full object-cover">
									</div>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									<h3 class="text-sm">
										Sofa đôi mã 1234
									</h3>
									<p class="text-[12px]">
										. Màu xám
										<br>
										. 1,1x2,2m
										<br>
										. Gỗ + Nỉ

									</p>
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									1
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									45.000.000đ
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Nguyễn Văn Sơn
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									0123456789
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									Số 12 ngõ 12 ngách 23 đường 23 phường 12 quận Hai Bà Trưng
								</td>
								<td class="border-[0.5px] px-2 py-[10px] border-[#D2D2D2]">
									12/12/2021
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="text-[#212529] flex items-center justify-end gap-x-8 mt-auto px-5 py-3">
				<span class="total__view">
					Số lượng hiển thị:
				</span>
				<div class="rounded border border-[#D2D2D2] flex items-center select__pagination">
					<select class="select-admin">
						<option value="">40</option>
						<option value="">30</option>
						<option value="">20</option>
					</select>
					<span class="bg-[#D2D2D2] h-6 flex justify-center items-center px-2">
						/ trang
					</span>
				</div>

				{% include "../addons/addon-pagination.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
