{% extends "../layouts/master-layout.twig" %}
{% block titlePage %}
	vncpncept - Giỏ hàng
{% endblock %}
{% block content %}
	<div class="container">
		<div class="page__card flex items-start flex-wrap my-10">
			<div class="card__product max-w-[592px]">
				<h1 class="text-[#212529] font-semibold text-2xl mb-9">
					Giỏ hàng (4)
				</h1>
				<div class="card__product--table grid gap-y-10">
					<div class="card__box relative">
						<button class="w-6 h-6 absolute right-0 top-10">
							<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.4541 17.2178C6.68262 17.4551 7.06934 17.4463 7.29785 17.2178L12 12.5156L16.7021 17.2178C16.9307 17.4463 17.3174 17.4551 17.5459 17.2178C17.7832 16.9893 17.7744 16.6025 17.5459 16.374L12.8438 11.6719L17.5459 6.96094C17.7744 6.73242 17.7832 6.35449 17.5459 6.12598C17.3174 5.88867 16.9307 5.89746 16.7021 6.12598L12 10.8281L7.29785 6.12598C7.06934 5.89746 6.68262 5.88867 6.4541 6.12598C6.2168 6.35449 6.22559 6.73242 6.4541 6.96094L11.1562 11.6719L6.4541 16.374C6.22559 16.6025 6.2168 16.9893 6.4541 17.2178Z" fill="#212529"/>
							</svg>

						</button>
						<div class="card__box--img h-[315px]">
							<img class=" w-full object-cover" src="/images/sofa-import-1.png" alt="">
						</div>
						<div class="card__box--content text-[#212529]">
							<div class="card__box-header flex items-center mb-5">
								<h3 class="  font-semibold text-2xl">
									Sofa Moderna 2 seater
								</h3>
								<div class="ml-auto flex items-center justify-center">
									<span class="flex cursor-pointer justify-center items-center w-10 h-10">
										<svg width="40" height="44" viewbox="0 0 40 44" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13.5508 22.999H25.9697C26.6729 22.999 27.2881 22.3926 27.2881 21.6631C27.2881 20.9424 26.6729 20.3359 25.9697 20.3359H13.5508C12.8828 20.3359 12.2412 20.9424 12.2412 21.6631C12.2412 22.3926 12.8828 22.999 13.5508 22.999Z" fill="#424242"/>
										</svg>

									</span>
									<input type="text" value="1" class="w-[60px] text-center h-10 outline-none border-transparent text-[#212529] text-2xl font-semibold"/>
									<span class="flex cursor-pointer justify-center items-center w-10 h-10">
										<svg width="40" height="42" viewbox="0 0 40 42" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.2412 21.1543C12.2412 21.6992 12.6895 22.1387 13.2256 22.1387H18.6133V27.5264C18.6133 28.0625 19.0615 28.5107 19.5977 28.5107C20.1338 28.5107 20.582 28.0625 20.582 27.5264V22.1387H25.9697C26.5059 22.1387 26.9541 21.6992 26.9541 21.1543C26.9541 20.6182 26.5059 20.1699 25.9697 20.1699H20.582V14.7822C20.582 14.2461 20.1338 13.7979 19.5977 13.7979C19.0615 13.7979 18.6133 14.2461 18.6133 14.7822V20.1699H13.2256C12.6895 20.1699 12.2412 20.6182 12.2412 21.1543Z" fill="#424242"/>
										</svg>
									</span>
								</div>
							</div>
							<div class="card__box--text  gap-0 gap-y-2 text-sm">
								<p>
									Da thật, màu vàng bò
								</p>
								<p>
									Chiều cao: 70 cm
								</p>
								<p>
									Chiều rộng: 258 cm
								</p>
							</div>
							<div class="flex justify-center items-center text-sm mt-4">
								<a href="detail.page.twig" class="text-[#212529] underline">
									Chi tiết sản phẩm
								</a>
								<span class="ml-auto font-semibold ">
									67.590.000đ
								</span>
							</div>
						</div>
					</div>
					<div class="card__box  relative">
						<button class="w-6 h-6 absolute right-0 top-10">
							<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.4541 17.2178C6.68262 17.4551 7.06934 17.4463 7.29785 17.2178L12 12.5156L16.7021 17.2178C16.9307 17.4463 17.3174 17.4551 17.5459 17.2178C17.7832 16.9893 17.7744 16.6025 17.5459 16.374L12.8438 11.6719L17.5459 6.96094C17.7744 6.73242 17.7832 6.35449 17.5459 6.12598C17.3174 5.88867 16.9307 5.89746 16.7021 6.12598L12 10.8281L7.29785 6.12598C7.06934 5.89746 6.68262 5.88867 6.4541 6.12598C6.2168 6.35449 6.22559 6.73242 6.4541 6.96094L11.1562 11.6719L6.4541 16.374C6.22559 16.6025 6.2168 16.9893 6.4541 17.2178Z" fill="#212529"/>
							</svg>

						</button>
						<div class="card__box--img h-[315px]">
							<img class=" w-full object-cover" src="/images/sofa-import-1.png" alt="">
						</div>
						<div class="card__box--content text-[#212529]">
							<div class="card__box-header flex items-center mb-5">
								<h3 class="  font-semibold text-2xl">
									Sofa Moderna 2 seater
								</h3>
								<div class="ml-auto flex items-center justify-center">
									<span class="flex cursor-pointer justify-center items-center w-10 h-10">
										<svg width="40" height="44" viewbox="0 0 40 44" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13.5508 22.999H25.9697C26.6729 22.999 27.2881 22.3926 27.2881 21.6631C27.2881 20.9424 26.6729 20.3359 25.9697 20.3359H13.5508C12.8828 20.3359 12.2412 20.9424 12.2412 21.6631C12.2412 22.3926 12.8828 22.999 13.5508 22.999Z" fill="#424242"/>
										</svg>

									</span>
									<input type="text" value="1" class="w-[60px] text-center h-10 outline-none border-transparent text-[#212529] text-2xl font-semibold"/>
									<span class="flex cursor-pointer justify-center items-center w-10 h-10">
										<svg width="40" height="42" viewbox="0 0 40 42" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.2412 21.1543C12.2412 21.6992 12.6895 22.1387 13.2256 22.1387H18.6133V27.5264C18.6133 28.0625 19.0615 28.5107 19.5977 28.5107C20.1338 28.5107 20.582 28.0625 20.582 27.5264V22.1387H25.9697C26.5059 22.1387 26.9541 21.6992 26.9541 21.1543C26.9541 20.6182 26.5059 20.1699 25.9697 20.1699H20.582V14.7822C20.582 14.2461 20.1338 13.7979 19.5977 13.7979C19.0615 13.7979 18.6133 14.2461 18.6133 14.7822V20.1699H13.2256C12.6895 20.1699 12.2412 20.6182 12.2412 21.1543Z" fill="#424242"/>
										</svg>
									</span>
								</div>
							</div>
							<div class="card__box--text  gap-0 gap-y-2 text-sm">
								<p>
									Da thật, màu vàng bò
								</p>
								<p>
									Chiều cao: 70 cm
								</p>
								<p>
									Chiều rộng: 258 cm
								</p>
							</div>
							<div class="flex justify-center items-center text-sm mt-4">
								<a href="detail.page.twig" class="text-[#212529] underline">
									Chi tiết sản phẩm
								</a>
								<span class="ml-auto font-semibold">
									67.590.000đ
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card__info w-full pl-[117px]">
				<h2 class="text-[#212529] font-semibold text-2xl">
					Thanh toán
				</h2>
				<p class="card__total text-[#868E96] text-sm mt-1">
					4 sản phẩm
				</p>
				<div class="card__info--body text=[#212529] mt-10">
					<p class="flex items-center flex-wrap mb-4">
						<span>
							Tổng hoá đơn
						</span>
						<span class="ml-auto">
							676.000.000
						</span>
					</p>
					<p class="flex items-center flex-wrap mb-4">
						<span>
							Giao hàng
						</span>
						<span class="ml-auto">
							Miễn phí
						</span>
					</p>
					<p class="flex items-center flex-wrap mb-4">
						<span>
							Mã giảm giá
						</span>
						<span class="ml-auto">
							---
						</span>
					</p>

				</div>
				<div class="flex items-center flex-wrap font-bold mt-6 text-[#212529] mb-10">
					<span>
						Tổng giá trị
					</span>
					<span class="ml-auto">
						676.000.000
					</span>
				</div>
				<div class="information_delivery py-10 border-y border-[#EEEEEE]">
					<h3 class="card__total text-[#212529] text-lg font-bold mb-4">
						Thông tin giao hàng
					</h3>
					<p class="text-[#424242] text-sm">
						Vnconcept sẽ giao hàng cho bạn trong vòng 5 - 6 ngay kể từ ngày bạn nhận được cuộc gọi xác nhận từ tổng đài
					</p>
				</div>
				<div class="card__info--footer mt-10">
					<button type="button" modal-show="show" modal-data="#formContact" class="p-3 w-full hover:opacity-80 transition-all text-white bg-[#232323]">
						Đặt hàng
					</button>
					<a href="product.page.html" class="h-[46px] w-full mt-4 flex items-center justify-center text-[#232323] py-2 border border-[#232323] hover:bg-[#232323] hover:text-white transition-all">
						Tiếp tục mua sắm
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bs-modal modal__recruit" id="formContact">
		<div class="modal-frame">
			<div class="content-modal max-w-[527px] w-full">
				<div class="module__contact">
					{% include "../components/FormContact.component.twig" %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
