{% extends "../layouts/master-layout.twig" %}
{% set pageStatus = "product" %}
{% block titlePage %}
	vncpncept - Induction cooker
{% endblock %}
{% block content %}
	<div class="container__wrapper">
		<div class="page__product flex flex-wrap items-start pt-[43px]">
			<div class="page__product--sidebar flex-shrink-0 max-w-[187px] w-full grid gap-4 mb-4">
				<div class="sidebar__box active border-t border-[#EEEEEE] pt-4">
					<div class="sidebar__header flex items-center cursor-pointer">
						<h3 class="sidebar__title text-[#212529] text-base  font-semibold">
							Sắp xếp theo
						</h3>
						<span class="sidebar__icon ml-auto w-[18px] h-[18px]">
							<svg width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 18.4697C13.8252 18.4697 17.8154 14.4795 17.8154 9.6543C17.8154 4.82031 13.8252 0.838867 8.99121 0.838867C4.16602 0.838867 0.18457 4.82031 0.18457 9.6543C0.18457 14.4795 4.1748 18.4697 9 18.4697ZM9 17.3271C4.74609 17.3271 1.32715 13.8994 1.32715 9.6543C1.32715 5.40039 4.74609 1.97266 8.99121 1.97266C13.2451 1.97266 16.6729 5.40039 16.6816 9.6543C16.6816 13.8994 13.2539 17.3271 9 17.3271ZM5.30859 10.2344H12.6914C13.0518 10.2344 13.3154 10.0234 13.3154 9.67188C13.3154 9.31152 13.0693 9.10059 12.6914 9.10059H5.30859C4.92188 9.10059 4.67578 9.31152 4.67578 9.67188C4.67578 10.0234 4.93945 10.2344 5.30859 10.2344Z" fill="#424242"/>
							</svg>
							<svg class="" width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 18.4697C13.8252 18.4697 17.8154 14.4795 17.8154 9.6543C17.8154 4.82031 13.8252 0.838867 8.99121 0.838867C4.16602 0.838867 0.18457 4.82031 0.18457 9.6543C0.18457 14.4795 4.1748 18.4697 9 18.4697ZM9 17.3271C4.74609 17.3271 1.32715 13.8994 1.32715 9.6543C1.32715 5.40039 4.74609 1.97266 8.99121 1.97266C13.2451 1.97266 16.6729 5.40039 16.6816 9.6543C16.6816 13.8994 13.2539 17.3271 9 17.3271ZM5.16797 9.66309C5.16797 9.97949 5.41406 10.2168 5.74805 10.2168H8.42871V12.8975C8.42871 13.2314 8.66602 13.4688 8.98242 13.4688C9.3252 13.4688 9.5625 13.2402 9.5625 12.8975V10.2168H12.2432C12.5771 10.2168 12.8145 9.97949 12.8145 9.66309C12.8145 9.32031 12.5859 9.08301 12.2432 9.08301H9.5625V6.40234C9.5625 6.05957 9.3252 5.82227 8.98242 5.82227C8.66602 5.82227 8.42871 6.06836 8.42871 6.40234V9.08301H5.74805C5.40527 9.08301 5.16797 9.32031 5.16797 9.66309Z" fill="#424242"/>
							</svg>

						</span>
					</div>
					<ul class="sidebar__body grid gap-y-3 mt-4">
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Sofa đơn">
								Tất cả
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Bếp từ đơn">
								Bếp từ đơn
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Bếp từ đôi">
								Bếp từ đôi
							</a>
						</li>
					</ul>
				</div>
				<div class="sidebar__box active border-t border-[#EEEEEE] pt-4">
					<div class="sidebar__header flex items-center cursor-pointer">
						<h3 class="sidebar__title text-[#212529] text-base  font-semibold">
							Giá
						</h3>
						<span class="sidebar__icon ml-auto w-[18px] h-[18px]">
							<svg width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 18.4697C13.8252 18.4697 17.8154 14.4795 17.8154 9.6543C17.8154 4.82031 13.8252 0.838867 8.99121 0.838867C4.16602 0.838867 0.18457 4.82031 0.18457 9.6543C0.18457 14.4795 4.1748 18.4697 9 18.4697ZM9 17.3271C4.74609 17.3271 1.32715 13.8994 1.32715 9.6543C1.32715 5.40039 4.74609 1.97266 8.99121 1.97266C13.2451 1.97266 16.6729 5.40039 16.6816 9.6543C16.6816 13.8994 13.2539 17.3271 9 17.3271ZM5.30859 10.2344H12.6914C13.0518 10.2344 13.3154 10.0234 13.3154 9.67188C13.3154 9.31152 13.0693 9.10059 12.6914 9.10059H5.30859C4.92188 9.10059 4.67578 9.31152 4.67578 9.67188C4.67578 10.0234 4.93945 10.2344 5.30859 10.2344Z" fill="#424242"/>
							</svg>
							<svg class="" width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 18.4697C13.8252 18.4697 17.8154 14.4795 17.8154 9.6543C17.8154 4.82031 13.8252 0.838867 8.99121 0.838867C4.16602 0.838867 0.18457 4.82031 0.18457 9.6543C0.18457 14.4795 4.1748 18.4697 9 18.4697ZM9 17.3271C4.74609 17.3271 1.32715 13.8994 1.32715 9.6543C1.32715 5.40039 4.74609 1.97266 8.99121 1.97266C13.2451 1.97266 16.6729 5.40039 16.6816 9.6543C16.6816 13.8994 13.2539 17.3271 9 17.3271ZM5.16797 9.66309C5.16797 9.97949 5.41406 10.2168 5.74805 10.2168H8.42871V12.8975C8.42871 13.2314 8.66602 13.4688 8.98242 13.4688C9.3252 13.4688 9.5625 13.2402 9.5625 12.8975V10.2168H12.2432C12.5771 10.2168 12.8145 9.97949 12.8145 9.66309C12.8145 9.32031 12.5859 9.08301 12.2432 9.08301H9.5625V6.40234C9.5625 6.05957 9.3252 5.82227 8.98242 5.82227C8.66602 5.82227 8.42871 6.06836 8.42871 6.40234V9.08301H5.74805C5.40527 9.08301 5.16797 9.32031 5.16797 9.66309Z" fill="#424242"/>
							</svg>

						</span>
					</div>
					<ul class="sidebar__body grid gap-y-3 mt-4">
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Từ thấp đến cao">
								Từ thấp đến cao
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Từ cao đến thấp">
								Từ cao đến thấp
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="1 triệu - 5 triệu">
								1 triệu - 5 triệu
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="5 triệu - 10 triệu">
								5 triệu - 10 triệu
							</a>
						</li>
					</ul>
				</div>
				<div class="sidebar__box border-t border-[#EEEEEE] pt-4">
					<div class="sidebar__header flex items-center cursor-pointer">
						<h3 class="sidebar__title text-[#212529] text-base  font-semibold">
							Màu sắc
						</h3>
						<span class="sidebar__icon ml-auto w-[18px] h-[18px]">
							<svg class="" width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 18.4697C13.8252 18.4697 17.8154 14.4795 17.8154 9.6543C17.8154 4.82031 13.8252 0.838867 8.99121 0.838867C4.16602 0.838867 0.18457 4.82031 0.18457 9.6543C0.18457 14.4795 4.1748 18.4697 9 18.4697ZM9 17.3271C4.74609 17.3271 1.32715 13.8994 1.32715 9.6543C1.32715 5.40039 4.74609 1.97266 8.99121 1.97266C13.2451 1.97266 16.6729 5.40039 16.6816 9.6543C16.6816 13.8994 13.2539 17.3271 9 17.3271ZM5.30859 10.2344H12.6914C13.0518 10.2344 13.3154 10.0234 13.3154 9.67188C13.3154 9.31152 13.0693 9.10059 12.6914 9.10059H5.30859C4.92188 9.10059 4.67578 9.31152 4.67578 9.67188C4.67578 10.0234 4.93945 10.2344 5.30859 10.2344Z" fill="#424242"/>
							</svg>
							<svg width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 18.4697C13.8252 18.4697 17.8154 14.4795 17.8154 9.6543C17.8154 4.82031 13.8252 0.838867 8.99121 0.838867C4.16602 0.838867 0.18457 4.82031 0.18457 9.6543C0.18457 14.4795 4.1748 18.4697 9 18.4697ZM9 17.3271C4.74609 17.3271 1.32715 13.8994 1.32715 9.6543C1.32715 5.40039 4.74609 1.97266 8.99121 1.97266C13.2451 1.97266 16.6729 5.40039 16.6816 9.6543C16.6816 13.8994 13.2539 17.3271 9 17.3271ZM5.16797 9.66309C5.16797 9.97949 5.41406 10.2168 5.74805 10.2168H8.42871V12.8975C8.42871 13.2314 8.66602 13.4688 8.98242 13.4688C9.3252 13.4688 9.5625 13.2402 9.5625 12.8975V10.2168H12.2432C12.5771 10.2168 12.8145 9.97949 12.8145 9.66309C12.8145 9.32031 12.5859 9.08301 12.2432 9.08301H9.5625V6.40234C9.5625 6.05957 9.3252 5.82227 8.98242 5.82227C8.66602 5.82227 8.42871 6.06836 8.42871 6.40234V9.08301H5.74805C5.40527 9.08301 5.16797 9.32031 5.16797 9.66309Z" fill="#424242"/>
							</svg>

						</span>
					</div>
					<ul class="sidebar__body grid gap-y-3  mt-4">
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Đen">
								Đen
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Nâu">
								Nâu
							</a>
						</li>
						<li class="sidebar__item">
							<a href="#" class="sidebar__link text-[#424242] text-sm hover:text-[#343A40] hover:font-semibold" title="Xám">
								Xám
							</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="page__product--content w-full">
				<h1 class="text-[#212529] text-[32px]">
					Bếp từ
				</h1>
				<p class="text-[#424242] text-base mt-6">
					Dòng sản phẩm Bếp từ Mutosi là trợ thủ đáng tin cậy trong gian bếp nhà bạn, góp phần tạo nên nhiều món ăn ngon trong thời gian ngắn. Tính năng làm nóng nhanh hơn các loại bếp từ thông thường giúp bạn có thể nấu ăn một cách nhanh chóng. Nhờ những ưu điểm vượt trội mà bếp từ dần có xu hướng thay thế bếp gas hay các loại bếp điện truyền thống khác.
				</p>

				<div class="banner__product my-6">
					<img src="images/InductionCooker.svg" alt="InductionCooker.svg w-full">
				</div>

				<div class="page__product--group  grid gap-4 grid-cols-3">
					{% set
                products = [
                        {
                        id:1,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html",
                        sale:true
                    },
                    {
                        id:2,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html",
                        sale:true
                    },
                    {
                        id:3,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html",
                        sale:true
                    },
                    {
                        id:4,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html",
                        sale:true
                    },
                    {
                        id:5,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                     {
                        id:6,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                    {
                        id:7,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                     {
                        id:8,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                    {
                        id:9,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                     {
                        id:10,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                     {
                        id:11,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                    {
                        id:12,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                    {
                        id:13,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                     {
                        id:14,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                    {
                        id:15,
                        title:"Bếp từ đôi MUTOSI MI-92D",
                        target:"Mã sản phẩm: MI-92D",
                        price:"7.590.000",
                        thumbnail:"Inductioncooke.svg",
                        link:"DetailInductionCooker.page.html"
                    },
                    ] %}
					{% for product in products %}
						{% include "../components/propducts/ProductItem3.component.twig" with {title:product.title, target:product.target, price:product.price, thumbnail:product.thumbnail, link:product.link, sale:product.sale}  %}
					{% endfor %}
				</div>
				{% include "../addons/addon-pagination.twig" %}
			</div>
		</div>
	</div>

{% endblock %}
