#footer {
    padding-bottom: 20px;
    .menu__footer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 667.98px) {
    #footer {
        .footer__body {
            align-items: flex-start;
        }
    }
}

@media (max-width: 479.98px) {
    #footer {
        .footer__body {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            .footer__body--prhk {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                .menu__footer {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }
    }
}
