.header {
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    .menu__addon {
        li {
            position: static;
            &.active,
            &:hover {
                .menu__link {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0.5px;
                        width: calc(100% - 23px);
                        height: 1.5px;
                        background-color: #fff;
                        border-radius: 9999px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            &:hover {
                .menu__omega {
                    transition: 0.2s all;
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
            .menu__omega {
                transition: 0.2s all;
                visibility: hidden;
                .omega {
                    .omega__list {
                        position: relative;
                        &::after {
                            content: "";
                            transition: 0.3s all;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100;
                            background: rgba(235, 235, 235, 0.5);
                            opacity: 0;
                            z-index: -1;
                        }

                        &:hover {
                            font-weight: 600;
                            &::after {
                                transition: 0.3s all;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
