.page__admin {
    .admin__sidebar {
        .admin__sidebar--body {
            .control {
                .control__list {
                    &:hover,
                    &.active {
                        .control__list--link {
                            color: #2c6cd5;
                            svg {
                                path {
                                    fill: #2c6cd5;
                                }
                            }
                        }
                    }
                    .control__show {
                        &.active {
                            svg {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .control__children {
                        display: none;
                        li {
                            &.active {
                                a {
                                    color: #2c6cd5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .time__select {
        .custom-select {
            .custom-select__option {
                &.custom-select__option--value {
                    padding: 0 0.75rem;
                    border: 0px;
                    border: 1px solid #d2d2d2;
                    border-radius: 0px;
                    height: 32px;
                    font-size: 14px;
                    border-radius: 4px;
                }
            }
        }
    }
    .custom-select {
        .custom-select__option {
            &.custom-select__option--value {
                padding: 0 0.75rem;
                border: 0px;
                border-bottom: 1px solid #d2d2d2;
                border-radius: 0px;
                height: 28px;
                &:after {
                    display: none;
                }
                &::before {
                    content: "";
                    background: url("../images/icons/ArrowDown.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 24px;
                    height: 24px;
                    right: 0;
                    position: absolute;
                }
            }
        }
        .custom-select__dropdown {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            .custom-select__option {
                text-align: center;
                color: #212529;
                font-size: 14px;
                &:nth-child(even) {
                    background-color: #f7f7f7;
                    padding: 4px 32px;
                }
            }
        }
    }
    .select__pagination {
        .custom-select {
            .custom-select__option {
                &.custom-select__option--value {
                    width: 60px;
                    border-bottom: 0px;
                    border-radius: 0px;
                    font-size: 14px;
                    height: 24px;
                }
            }
        }
    }
    .pagination {
        margin: 0;
        li {
            &.active {
                a {
                    background-color: #2c6cd5;
                }
            }
        }
    }
    .menuAdmin {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: rgb(0, 110, 161);
        color: white;
        font-size: 20px;
    }
}

@media (max-width: 991.98px) {
    .page__admin {
        &.active {
            .admin__sidebar {
                transform: translateX(0);
                transition: 0.2s all;
            }
        }
        .admin__sidebar {
            transition: 0.2s all;
            position: fixed;
            top: 0;
            bottom: 0;
            height: 100%;
            transform: translateX(-100%);
            z-index: 9999;
        }
        .admin__main {
            max-width: 100%;
        }
    }
}

@media (max-width: 767.98px) {
    .page__admin {
        .admin__main {
            header {
                flex-direction: column;
                .header__admin-control {
                    margin: 0;
                    margin-top: 20px;
                }
                .search__box {
                    & > div {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 576.98px) {
    .page__admin {
        .total__view {
            display: none;
            & ~ .select__pagination {
                display: none;
            }
        }
        .search__header {
            max-width: 300px;
        }
        .header__admin-control {
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;

            p {
                width: 100%;
            }
        }
        .search__box {
            .amdin__ntk {
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                row-gap: 20px;
            }
        }
    }
}

@media (min-width: 992px) {
    .menuAdmin {
        display: none;
    }
}
