<form class="flex items-center border-b border-white pr-3 w-full max-w-[298px] ml-auto">
	<input type="text" placeholder="Tìm kiếm" class="w-full border-0 h-7 bg-transparent text-white text-base placeholder:text-white  outline-none">
	<button class="w-6 h-6 flex-shrink-0">
		<img src="images/icons/icon__search.svg" alt="icon__search.svg" class="flex w-5 object-contain">
	</button>
</form>
