<div class="bs-tab">
	<div class="tab-container__wrapper flex items-start">
		<div class="flex-shrink-0 max-w-[286px] w-full border-r border-[#EEEEEE]">
			<ul class="control-list grid gap-y-2">
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base active" tab-show="#tab1">
					<a href="#">
						Sofas
					</a>
				</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab2">Amchairs</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab3">Chairs</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab4">Beds</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab5">Tables</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab6">Lamps</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab7">Rugs</li>
				<li class="control-list__item cursor-pointer flex items-center  px-4 py-[10px]  text-[#232323] text-base" tab-show="#tab8">Decor</li>

			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-item hidden active" id="tab1">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab2">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab3">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab4">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab5">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab6">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab7">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-item hidden" id="tab8">
				<div class="table-item__grid grid grid-cols-3 gap-y-8 gap-x-[114px] ml-[130px]">

					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Style
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex hover:opacity-80 w-full items-center text-[#424242] text-base py-1" title="Sofas">
								Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="Real leather Sofas">
								Real leather Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Simily leather Sofas">
								Simily leather Sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Felt Sofas">
								Felt Sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Office Sofas">
								Office Sofas
							</a>
						</div>
					</div>
					<div class="min-w-[183px]">
						<h3 class="text-[#BFBFBF] font-semibold text-sm mb-4">
							By Size
						</h3>
						<div class="gap gap-y-3">
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="1 seater sofas">
								1 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base px-1" title="2 seater sofas">
								2 seater sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="3 seater sofas">
								3 seater sofas
							</a>

							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Corner sofas">
								Corner sofas
							</a>
							<a href="#" class="flex w-full hover:opacity-80 items-center text-[#424242] text-base py-1" title="Set sofas">
								Set sofas
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
