<div class="grid gap-10">
	<div class="group pt-10">
		<div class="group__header flex items-center cursor-pointer">
			<h3 class="text-[#212529] font-bold text-lg">
				Giới thiệu
			</h3>
			<span class="w-7 h-7 ml-auto justify-center items-center flex transition-all">
				<svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 0.476561C6.80469 0.476561 6.60938 0.554686 6.47656 0.703124L0.429688 6.89844C0.296875 7.03125 0.21875 7.20312 0.21875 7.39844C0.21875 7.80469 0.523438 8.11719 0.929688 8.11719C1.125 8.11719 1.30469 8.03906 1.4375 7.91406L7 2.22656L12.5703 7.91406C12.6953 8.03906 12.875 8.11719 13.0781 8.11719C13.4844 8.11719 13.7891 7.80469 13.7891 7.39844C13.7891 7.20312 13.7109 7.03125 13.5781 6.89062L7.53125 0.703124C7.38281 0.554686 7.20313 0.476561 7 0.476561Z" fill="#343A40"/>
				</svg>

			</span>
		</div>
		<div class="group__body pt-6 text-[#868E96] text-sm text-justify">
			<p>
				MThe modern Carmo sofa is a real show-stopper with its cubic look, perfectly accentuated by exclusive piping details. Don’t be fooled by the straight lines, this sofa is a dream to sit on. Cosy up with your family or claim the sofa all to yourself with this roomy 3 seater sofa.
			</p>
		</div>
	</div>
	<div class="group pt-10">
		<div class="group__header flex items-center cursor-pointer">
			<h3 class="text-[#212529] font-bold text-lg">
				Chi tiết sản phẩm
			</h3>
			<span class="w-7 h-7 ml-auto justify-center items-center flex transition-all">
				<svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 0.476561C6.80469 0.476561 6.60938 0.554686 6.47656 0.703124L0.429688 6.89844C0.296875 7.03125 0.21875 7.20312 0.21875 7.39844C0.21875 7.80469 0.523438 8.11719 0.929688 8.11719C1.125 8.11719 1.30469 8.03906 1.4375 7.91406L7 2.22656L12.5703 7.91406C12.6953 8.03906 12.875 8.11719 13.0781 8.11719C13.4844 8.11719 13.7891 7.80469 13.7891 7.39844C13.7891 7.20312 13.7109 7.03125 13.5781 6.89062L7.53125 0.703124C7.38281 0.554686 7.20313 0.476561 7 0.476561Z" fill="#343A40"/>
				</svg>

			</span>
		</div>
		<div class="group__body pt-6 text-[#212529] text-base">
			<div class="grid gap-y-5 gap-x-[117px] grid-cols-2 items-start mb-6">
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chiều cao: 70 cm
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chiều sâu: 93 cm
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chiều rộng: 258 cm
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chiều cao chỗ ngồi: 70 cm
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chiều cao tay vịn: 70 cm
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Trọng lượng: 60 kg
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chiều cao chân: 5 cm
					</span>
				</div>
				<div class="flex items-center gap-x-4">
					<span class="w-[22px] h-[22px] flex items-center flex-shrink-0">
						<svg width="19" height="15" viewbox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.95312 14.375C10.4766 14.375 10.7578 14.1016 10.7578 13.5781V1.14844C10.7578 0.625 10.4766 0.351562 9.95312 0.351562C9.42969 0.351562 9.14844 0.625 9.14844 1.14844V13.5781C9.14844 14.1016 9.42969 14.375 9.95312 14.375ZM1.79688 11.2656C2.32031 11.2656 2.59375 10.9922 2.59375 10.4688V4.25781C2.59375 3.73438 2.32031 3.46094 1.79688 3.46094C1.26562 3.46094 0.992188 3.73438 0.992188 4.25781V10.4688C0.992188 10.9922 1.26562 11.2656 1.79688 11.2656ZM18.1094 11.2656C18.6406 11.2656 18.9141 10.9922 18.9141 10.4688V4.25781C18.9141 3.73438 18.6406 3.46094 18.1094 3.46094C17.5859 3.46094 17.3125 3.73438 17.3125 4.25781V10.4688C17.3125 10.9922 17.5859 11.2656 18.1094 11.2656ZM5.875 9.29688C6.39844 9.29688 6.67188 9.02344 6.67188 8.49219V6.23438C6.67188 5.70312 6.39844 5.42969 5.875 5.42969C5.35156 5.42969 5.07812 5.70312 5.07812 6.23438V8.49219C5.07812 9.02344 5.35156 9.29688 5.875 9.29688ZM14.0312 9.29688C14.5547 9.29688 14.8281 9.02344 14.8281 8.49219V6.23438C14.8281 5.70312 14.5547 5.42969 14.0312 5.42969C13.5078 5.42969 13.2344 5.70312 13.2344 6.23438V8.49219C13.2344 9.02344 13.5078 9.29688 14.0312 9.29688Z" fill="#232323"/>
						</svg>
					</span>
					<span>
						Chỗ ngồi: 3
					</span>
				</div>
			</div>
			<a href="#" title="Xem tất cả" class="text-[#424242] text-sm underline">
				Xem tất cả
			</a>
		</div>
	</div>
	<div class="group pt-10">
		<div class="group__header flex items-center cursor-pointer">
			<h3 class="text-[#212529] font-bold text-lg">
				Kích thước và Chi tiết kho hàng
			</h3>
			<span class="w-7 h-7 ml-auto justify-center items-center flex transition-all">
				<svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 0.476561C6.80469 0.476561 6.60938 0.554686 6.47656 0.703124L0.429688 6.89844C0.296875 7.03125 0.21875 7.20312 0.21875 7.39844C0.21875 7.80469 0.523438 8.11719 0.929688 8.11719C1.125 8.11719 1.30469 8.03906 1.4375 7.91406L7 2.22656L12.5703 7.91406C12.6953 8.03906 12.875 8.11719 13.0781 8.11719C13.4844 8.11719 13.7891 7.80469 13.7891 7.39844C13.7891 7.20312 13.7109 7.03125 13.5781 6.89062L7.53125 0.703124C7.38281 0.554686 7.20313 0.476561 7 0.476561Z" fill="#343A40"/>
				</svg>

			</span>
		</div>
		<div class="group__body pt-6 text-[#212529] text-base">
			<div class="overflow-auto border-[0.5px] border-[#AEAEB2] rounded-lg">
				<table class="table min-w-[693px] w-full text-center overflow-hidden">
					<thead class=" font-bold">
						<tr>
							<th class="p-3">
								Kich thước
							</th>
							<th class="p-3">
								Miền Bắc
							</th>
							<th class="p-3">
								Miền Trung
							</th>
							<th class="p-3">
								Miền Nam
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="p-3">
								1,2m x 2,4m
							</td>
							<td class="p-3">
								0
							</td>
							<td class="p-3">
								12
							</td>
							<td class="p-3">
								43
							</td>
						</tr>
						<tr>
							<td class="p-3">
								2,2m x 3,4m
							</td>
							<td class="p-3">
								12
							</td>
							<td class="p-3">
								43
							</td>
							<td class="p-3">
								43
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="group pt-10">
		<div class="group__header flex items-center cursor-pointer">
			<h3 class="text-[#212529] font-bold text-lg">
				Thông tin khác
			</h3>
			<span class="w-7 h-7 ml-auto justify-center items-center flex transition-all">
				<svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 0.476561C6.80469 0.476561 6.60938 0.554686 6.47656 0.703124L0.429688 6.89844C0.296875 7.03125 0.21875 7.20312 0.21875 7.39844C0.21875 7.80469 0.523438 8.11719 0.929688 8.11719C1.125 8.11719 1.30469 8.03906 1.4375 7.91406L7 2.22656L12.5703 7.91406C12.6953 8.03906 12.875 8.11719 13.0781 8.11719C13.4844 8.11719 13.7891 7.80469 13.7891 7.39844C13.7891 7.20312 13.7109 7.03125 13.5781 6.89062L7.53125 0.703124C7.38281 0.554686 7.20313 0.476561 7 0.476561Z" fill="#343A40"/>
				</svg>

			</span>
		</div>
		<div class="group__body pt-6 text-[#212529] text-base">
			<div class="grid grid-cols-2 gap-4">
				<div class="other__information px-6 py-5 border border-[#AEAEB2] rounded-lg overflow-hidden">
					<span class="other__icon w-6 h-6 rounded-ful flex items-center">
						<svg width="22" height="22" viewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 21.0371C16.5176 21.0371 21.0879 16.4766 21.0879 10.9492C21.0879 5.43164 16.5176 0.861328 10.9902 0.861328C5.47266 0.861328 0.912109 5.43164 0.912109 10.9492C0.912109 16.4766 5.48242 21.0371 11 21.0371ZM11 19.0547C6.50781 19.0547 2.9043 15.4414 2.9043 10.9492C2.9043 6.45703 6.49805 2.85352 10.9902 2.85352C15.4824 2.85352 19.0957 6.45703 19.1055 10.9492C19.1055 15.4414 15.4922 19.0547 11 19.0547ZM10.9414 7.62891C11.6836 7.62891 12.2695 7.0332 12.2695 6.30078C12.2695 5.54883 11.6836 4.95312 10.9414 4.95312C10.209 4.95312 9.61328 5.54883 9.61328 6.30078C9.61328 7.0332 10.209 7.62891 10.9414 7.62891ZM9.27148 16.2617H13.2363C13.6758 16.2617 14.0176 15.9492 14.0176 15.5098C14.0176 15.0898 13.6758 14.7578 13.2363 14.7578H12.1426V10.1191C12.1426 9.5332 11.8496 9.15234 11.3027 9.15234H9.44727C9.01758 9.15234 8.66602 9.48438 8.66602 9.9043C8.66602 10.3438 9.01758 10.6562 9.44727 10.6562H10.4434V14.7578H9.27148C8.8418 14.7578 8.5 15.0898 8.5 15.5098C8.5 15.9492 8.8418 16.2617 9.27148 16.2617Z" fill="#424242"/>
						</svg>
					</span>
					<h3 class="text-[#424242] text-base font-semibold uppercase mt-5">
						MÃ SỐ SẢN PHẨM
					</h3>
					<p class="text-sm text-[#868E96] mt-2">
						416530012113
					</p>

				</div>
				<div class="other__information px-6 py-5 border border-[#AEAEB2] rounded-lg overflow-hidden">
					<span class="other__icon w-6 h-6 rounded-ful flex items-center">
						<svg width="21" height="22" viewbox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.5 21.0371C16.0176 21.0371 20.5879 16.4766 20.5879 10.9492C20.5879 5.43164 16.0176 0.861328 10.4902 0.861328C4.97266 0.861328 0.412109 5.43164 0.412109 10.9492C0.412109 16.4766 4.98242 21.0371 10.5 21.0371ZM10.5 14.3184C7.7168 14.3184 5.56836 15.3047 4.54297 16.4473C3.21484 15.0117 2.4043 13.0781 2.4043 10.9492C2.4043 6.45703 5.99805 2.85352 10.4902 2.85352C14.9824 2.85352 18.5957 6.45703 18.6055 10.9492C18.6055 13.0781 17.7949 15.0117 16.4668 16.457C15.4316 15.3047 13.2832 14.3184 10.5 14.3184ZM10.5 12.7168C12.3945 12.7266 13.8594 11.1152 13.8594 9.01562C13.8594 7.04297 12.3848 5.40234 10.5 5.40234C8.625 5.40234 7.13086 7.04297 7.14062 9.01562C7.15039 11.1152 8.61523 12.6973 10.5 12.7168Z" fill="#424242"/>
						</svg>

					</span>
					<h3 class="text-[#424242] text-base font-semibold uppercase mt-5">
						NHÀ THIẾT KẾ
					</h3>
					<p class="text-sm text-[#868E96] mt-2">
						Anders Nørgaard
					</p>

				</div>

			</div>
		</div>
	</div>
</div>
