<footer class="shadow-[0px_-0.5px_0px_rgba(0,0,0,0.25)] pt-8 pb-20">
	<div class="container">
		<a href="index.html" class="flex items-center max-w-[187px] w-full mb-8">
			<img src="images/icons/icon-logo__footer.png" alt="icon-logo__footer.png" class="w-full object-contain">
		</a>
		<div class="grid grid-cols-2 gap-4 mb-8">
			<div class="item grid gap-y-3">
				<a href="https://goo.gl/maps/HH8FbYVdSK169C5FA" target="_bank" class="flex items-center gap-3 ">
					<span class="icon w-6 h-6 flex items-center flex-shrink-0">
						<img src="images/icons/icon_home.svg" alt="icon_home.svg" class="object-contain">
					</span>
					<span class="text-sm text-[#212529] font-semibold">
						Số 11- 12 KĐT Geleximco C3, Lê Trọng Tấn, Hà Đông, Hà Nội
					</span>
				</a>
				<a href="tel:0823966988" class="flex items-center gap-3">
					<span class="icon w-6 h-6 flex items-center flex-shrink-0">
						<img src="images/icons/icon_phone.svg" alt="icon_home.svg" class="object-contain">
					</span>
					<span class="text-sm text-[#212529]">
						0823966988
					</span>
				</a>
				<a href="mailto:kientructli@gmail.com" class="flex items-center gap-3">
					<span class="icon w-6 h-6 flex items-center flex-shrink-0">
						<img src="images/icons/icon_email.svg" alt="icon_email.svg" class="object-contain">
					</span>
					<span class="text-sm text-[#212529]">
						kientructli@gmail.com
					</span>
				</a>
				<a href="#" class="flex items-center gap-3">
					<span class="icon w-6 h-6 flex items-center flex-shrink-0">
						<img src="images/icons/icon_code.svg" alt="icon_code.svg" class="object-contain">
					</span>
					<span class="text-sm text-[#212529]">
						Mã số doanh nghiệp: 0104560359
					</span>
				</a>
				<a href="#" class="flex items-center gap-3">
					<span class="icon w-6 h-6 flex items-center flex-shrink-0">
						<img src="images/icons/icon_clen.svg" alt="icon_clen.svg" class="object-contain">
					</span>
					<span class="text-sm text-[#212529]">
						Nơi cấp: sở kế hoạch & đầu tư thành phố Hà Nội
					</span>
				</a>
			</div>
			<div class="grid grid-cols-2 gap-4">
				<div class="w-full">
					<h3 class="font-semibold text-sm mb-5">
						Sản phẩm
					</h3>
					<div class="grid grid-cols-2 gap-y-3 gap-x-4">
						<a href="#" title="Sofas" class="text-[#424242] text-sm">
							Sofas
						</a>
						<a href="#" title="Tables" class="text-[#424242] text-sm">
							Tables
						</a>
						<a href="#" title="Amchairs" class="text-[#424242] text-sm">
							Amchairs
						</a>
						<a href="#" title="Lamps" class="text-[#424242] text-sm">
							Lamps
						</a>
						<a href="#" title="Chairs" class="text-[#424242] text-sm">
							Chairs
						</a>
						<a href="#" title="Rugs" class="text-[#424242] text-sm">
							Rugs
						</a>
						<a href="#" title="CollectionsBeds" class="text-[#424242] text-sm">
							CollectionsBeds
						</a>
						<a href="#" title="Decor" class="text-[#424242] text-sm">
							Decor
						</a>
					</div>
				</div>
				<div class="w-full">
					<h3 class="font-semibold text-sm mb-5">
						Hỗ trợ khách hàng
					</h3>
					<div class="grid gap-y-3">
						<a href="#" class="flex items-center gap-3 text-[#212529] text-sm" title="	Bảo hành bảo trì">
							Bảo hành bảo trì
						</a>
						<a href="#" class="flex items-center gap-3 text-[#212529] text-sm" title="Đối tác chiến lược">
							Đối tác chiến lược
						</a>
						<a href="#" class="flex items-center gap-3 text-[#212529] text-sm" title="Mua hàng, đổi trả">
							Mua hàng, đổi trả
						</a>
						<a href="#" class="flex items-center gap-3 text-[#212529] text-sm" title="Chính sách thanh toán">
							Chính sách thanh toán
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right flex items-center border-t border-[#BFBFBF] pt-3">
			<span class="text-xs text-[#8E8E93]">Bản quyền bởi Vnconcept</span>
			<div class="grid grid-flow-col gap-3 ml-auto">
				<a href="https://www.youtube.com/" target="_bank" title="youtube" class="flex items-center justify-center w-6 h-6 rounded-[100%] overflow-hidden bg-[#232323]">
					<img src="images/icons/icon__youtube.svg" alt="icon__youtube">
				</a>
				<a href="https://www.instagram.com/" target="_bank" title="instagram" class="flex items-center justify-center w-6 h-6 rounded-[100%] overflow-hidden bg-[#232323]">
					<img src="images/icons/icon__instagram.svg" alt="icon__instagram">
				</a>
				<a href="https://www.facebook.com/" target="_bank" title="facebook" class="flex items-center justify-center w-6 h-6 rounded-[100%] overflow-hidden bg-[#232323]">
					<img src="images/icons/icon__facebook.svg" alt="icon__facebook">
				</a>
				<a href="https://zalo.me" target="_bank" title="zalo" class="flex items-center justify-center w-6 h-6 rounded-[100%] overflow-hidden bg-[#232323]">
					<img src="images/icons/icon__zalo.svg" alt="icon__zalo.svg">
				</a>
			</div>
		</div>
	</div>
</footer>
