<header class="header bg-[#232323]" id="header">
	<div class="container">
		<div class="flex items-center flex-wrap">
			{% include "../addons/addon-logo.twig" %}
			{% include "../addons/addon-menu.twig" %}
			{% include "../addons/addon-search.twig" %}

			<div class="flex items-center gap-6 ml-6">
				<a href="#" title="heart" class="w-6 h-6 flex justify-center items-center">
					<img src="images/icons/icon__heart.svg" alt="icon__heart.svg" class="flex w-5" title="favorite product">
				</a>
				<a href="#" title="heart" class="w-6 h-6 flex justify-center items-center" title="cart">
					<img src="images/icons/icon__cart.svg" alt="icon__cart.svg" class="flex w-5">
				</a>
				<a href="#" title="heart" class="w-6 h-6 flex justify-center items-center text-white uppercase" title="language">
					VN
				</a>
				<a href="#" title="heart" class="w-6 h-6 flex justify-center items-center text-white uppercase" title="language">
					<img src="images/icons/icon__user.svg" alt="icon__user.svg" class="flex w-5">
				</a>
			</div>
		</div>
	</div>
</header>
