<div class="grid grid-cols-2 gap-4  sofa-import">
	<a href="#" title="Sofa Modena 2 seater" class="sofa-import__item  flex flex-col px-3 py-4">
		<div class="flex pt-[66%]">
			<img src="images/sofa-import-1.png" alt="sofa-import-1.png">
		</div>
		<div class="content">
			<h3>
				Sofa Modena 2 seater
			</h3>
			<p>
				Gỗ sồi, Gỗ keo, Thép không gỉ
			</p>
		</div>
		<p>
			67.590.000
		</p>
	</a>
</div>
